@media screen and (min-width: 600px) {
    .flex {
      display:block;
    }

body {
    margin: 0;
    background: url(images/misc/her.png) no-repeat center center;
    font-family: monospace;
    letter-spacing: 2px;
    background-color: #313131;
}
a {
    color: rgb(255, 255, 255);
}

#box {
    height: 830px;
    width: 830px;
    margin: auto;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.589);
    text-align: center;
    align-items: middle;
    align-content: center;
}

#p.dotted {outline-style: dotted;
}



#container {
    border: #000000;
    height: 500px;
    width: 800px;
    margin: auto;
    padding: 1px;
}

.links_color {
    color: white;
}

p {
    color: white;
    font-family: Helvetica, sans-serif;
    text-shadow: #000000;
    padding-top: 10px;
}

#bottom {
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}
#container-bottom {
    height: min-content;
    padding: 1rem;
    display: flex;
    flex-basis: 33%;
    align-items: center;
    justify-content: center;
}

h1 { color: #ffffff;
}

h2 { color: #ffffff;
}

h3 {color:#ffffff;
}

h4 {
   color: #ffffff; 
}

h5 {
    color: #ffffff;
}

h6 {
    color: #ffffff;
}

ul {
    color: #ffffff;
    font-size: large;
    font-size: 20px;
    font-family: Helvetica;
    align-items: center;
    justify-content: center;
}

div {
    flex-basis: 100%;
    }
}

#mainframe {
    justify-content: center;
    align-items: center;
    top:-318px;
    left:255px;
}
@media screen and (max-aspect-ratio:16/9) {

}